# Procesing big data with Vaex, dataframes and no clusters
### Marco Carranza
### @mcrrnz

In [1]:
# Instalación inicial
# pip install jupyter
# pip install vaex 
# pip install vaex-core vaex-viz vaex-jupyter vaex-arrow vaex-server vaex-ui vaex-hdf5 vaex-astro vaex-distributed

In [1]:
import vaex

### Vaex incorpora un pequeño dataframe de pruebas

In [2]:
demo1 = vaex.example()

In [4]:
demo1

#        E                FeH                  L                   Lz                   random_index    vx           vy           vz           x             y             z
0        -121238.171875   -2.309227609164518   831.0799560546875   -336.426513671875    1511648         53.276722    288.386047   -95.2649078  -0.777470767  2.10626292    1.93743467
1        -100819.9140625  -1.788735491591229   1435.1839599609375  -828.7567749023438   2728665         252.810791   -69.9498444  -56.3121033  3.77427316    2.23387194    3.76209331
2        -100559.9609375  -0.7618109022478798  1039.2989501953125  920.802490234375     1202632         96.276474    226.440201   -34.7527161  1.3757627     -6.3283844    2.63250017
3        -70174.8515625   -1.5208778422936413  2441.724853515625   1183.5899658203125   1020502         204.968842   -205.679016  -58.9777031  -7.06737804   1.31737781    -6.10543537
4        -144138.75       -2.655341358427361   374.8164367675781   -314.5353088378906   3154816         -311.742371  -238.41217   186.824127   0.243441463   -0.822781682  -0.206593871
...      ...              ...                  ...                 ...                  ...             ...          ...          ...          ...           ...           ...
329,995  -119687.3203125  -1.6499842518381402  746.8833618164062   -508.96484375        1919483         107.432999   -2.13771296  17.5130272   3.76883793    4.66251659    -4.42904139
329,996  -68933.8046875   -1.4336036247720836  2395.633056640625   1275.490234375       1064141         32.0         108.089264   179.060638   9.17409325    -8.87091351   -8.61707687
329,997  -112580.359375   -1.9306227597361942  1182.436279296875   115.58557891845703   374845          8.46711349   -38.2765236  -127.541473  -1.14041007   -8.4957695    2.25749826
329,998  -74862.90625     -1.225019818838568   1324.5926513671875  1057.017333984375    425745          110.221558   -31.3925591  86.2726822   -14.2985935   -5.51750422   -8.65472317
329,999  -95361.765625    -2.5689636894079477  351.0955505371094   -309.81439208984375  289364          -2.10541415  -27.6108856  3.80799961   10.5450506    -8.86106777   -4.65835428

In [5]:
demo1.describe()

,E,FeH,L,Lz,random_index,vx,vy,vz,x,y,z
dtype,float64,float64,float64,float64,int64,float64,float64,float64,float64,float64,float64
count,330000,330000,330000,330000,330000,330000,330000,330000,330000,330000,330000
NA,0,0,0,0,0,0,0,0,0,0,0
mean,-106610.49988610914,-1.6934730008384746,921.3784317993337,-19.039547138733965,1646241.474939394,-0.08480261751936627,2.1091601712652004,1.5943218597493665,-0.06713149126400597,-0.05358986745671381,0.016958244210975013
std,31669.4,0.549376,640.898,742.096,952202,135.461,139.437,110.318,7.31746,7.78605,5.05521
min,-240538,-3.20803,18.3504,-2900.54,0,-585.401,-590.012,-520.235,-128.294,-71.5524,-44.3342
max,44446.8,-0.0173251,3743.66,1789.86,3299975,636.42,619.158,523.647,271.366,146.466,50.7185

## Vaex permite exportar los dataframes directamente a Pandas o a formatos como arrow

In [6]:
pandas_df = demo1[:100].to_pandas_df()

In [7]:
pandas_df

,E,FeH,L,Lz,random_index,vx,vy,vz,x,y,z
0,-121238.171875,-2.309228,831.079956,-336.426514,1511648,53.276722,288.386047,-95.264908,-0.777471,2.106263,1.937435
1,-100819.914062,-1.788735,1435.183960,-828.756775,2728665,252.810791,-69.949844,-56.312103,3.774273,2.233872,3.762093
2,-100559.960938,-0.761811,1039.298950,920.802490,1202632,96.276474,226.440201,-34.752716,1.375763,-6.328384,2.632500
3,-70174.851562,-1.520878,2441.724854,1183.589966,1020502,204.968842,-205.679016,-58.977703,-7.067378,1.317378,-6.105435
4,-144138.750000,-2.655341,374.816437,-314.535309,3154816,-311.742371,-238.412170,186.824127,0.243441,-0.822782,-0.206594
...,...,...,...,...,...,...,...,...,...,...,...
95,-99405.687500,-1.844863,1140.836914,-688.859558,2794373,-102.623138,53.612511,7.555185,-7.804338,-2.635365,-7.472844
96,-154362.171875,-1.867531,169.959824,124.641342,1344431,30.475338,47.794190,-49.444252,3.372185,1.198657,-1.772952
97,-170106.250000,-1.883617,246.862183,164.523392,1330318,191.299561,362.805359,-11.236567,0.470685,0.032639,0.441789
98,-101061.445312,-1.867424,465.265564,238.525650,701908,25.192654,-4.154729,30.725702,8.090986,-10.802415,0.840847
99,-69885.210938,-1.463340,2732.392090,1234.886719,1063620,-8.717464,-84.257919,-111.787590,-13.087051,15.164844,-3.268117

In [8]:
arrow_table = demo1[:100].to_arrow_table()

In [9]:
arrow_table

pyarrow.Table
E: double
FeH: double
L: double
Lz: double
random_index: int64
vx: double
vy: double
vz: double
x: double
y: double
z: double

## Probemos con un dataset un poco más grande 
#### Data del los viajes realizados en Taxi en la ciudad de Nueva York en el 2015 , el archivo de 23 GB en formato .hdf5
####    https://drive.google.com/file/d/0B8gjQokMGa4nTXc0Z3QyYjZBMWc/view?usp=sharing
#### La data completa se puede descarga en CSV (+/- 200GB) desde:
####    https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [36]:
data = 'nyc_taxi2015.hdf5'

In [37]:
df = vaex.open(data)

In [38]:
df.count()

array(146112989)

In [32]:
## Columnas Virtuales
# Un Característica muy interesante la la capacidad de tener columnas virtuales que se calculará sobre la marcha
# Esto permite ahorrar mucha memoria cuando los dataset son muy grandes